.contenedor {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
}

.parteSuperior {
    display: flex;
    justify-content: space-between;
}

.btnSuperior {
    margin: 2vh;
}

.nombreArchivo {
    margin-left: 1rem;
}

.filtroPlaceholder {
    margin-right: 1vw;
}

#filtroField {
    width: 20vw;
}

.mat-column-nombre {
    flex: 0 0 20%;
}

.mat-column-tipo {
    flex: 0 0 20%;
}

.mat-column-aforo {
    flex: 0 0 12%;
}

.mat-column-acciones {
    flex: 0 0 20%;
}