<div class="contenedor">
    <div class="parteSuperior">
        <!-- BOTONES DE CREACIÓN -->
        <div>
            <!-- CREAR UN DOCENTE -->
            <button class="btnSuperior" *ngIf="esCoordinador()"  mat-raised-button color="primary" (click)="abrirCreacionDocente()">
                Crear nuevo docente
            </button>
            <!-- CREAR VARIOS DOCENTES -->
            <button mat-raised-button *ngIf="esCoordinador()" color="accent" (click)="fileInput.click()">
                {{ archivoSeleccionado ? 'Cambiar archivo CSV' : 'Subir archivo CSV'}}
            </button>
            <input hidden (change)="seleccionarArchivo($event)" onclick="this.value = null;" #fileInput type="file">
            <span class="nombreArchivo">{{archivoSeleccionado?.name}}</span>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Filtro: </mat-label>
                <input matInput (keyup)="filtrarTabla($event)" placeholder="Ingrese el texto a buscar" #input>
            </mat-form-field>
        </div>
    </div>

    <mat-table [dataSource]="datosFilaDocentes" matSort #tablaSort="matSort" matSortActive="nombreCompleto"
        matSortDirection="asc">

        <!-- NOMBRE COMPLETO DOCENTE -->
        <ng-container matColumnDef="nombreCompleto">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre completo </mat-header-cell>
            <mat-cell *matCellDef="let fila"> {{fila.nombreCompleto}} </mat-cell>
        </ng-container>

        <!-- CORREO ELECTRÓNICO DOCENTE -->
        <ng-container matColumnDef="correoElectronico">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Correo electrónico </mat-header-cell>
            <mat-cell *matCellDef="let fila"> {{fila.correoElectronico}} </mat-cell>
        </ng-container>

        <!-- BOTONES DE ACTUALIZAR/ELIMINAR DOCENTE -->
        <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
            <mat-cell *matCellDef="let fila">
                <!-- HORARIO DOCENTE -->
                <button mat-icon-button [routerLink]="['horario-docente',fila.id]" matTooltip="Horarios del docente">
                    <mat-icon color="primary">edit_calendar</mat-icon>
                </button>
                <!-- ACTUALIZAR DOCENTE -->
                <button mat-icon-button *ngIf="esCoordinador()" (click)="abrirActualizacionDocente(fila)" matTooltip="Actualizar">
                    <mat-icon color="primary">edit</mat-icon>
                </button>
                <!-- ELIMINAR DOCENTE -->
                <button mat-icon-button *ngIf="esCoordinador()" (click)="eliminarDocente(fila)" matTooltip="Eliminar">
                    <mat-icon color="warn">delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSize]="10" showFirstLastButtons></mat-paginator>

</div>