<p>Seleccione únicamente aquellas horas en las que NO pueda llevar a cabo sus actividades de docencia.</p>

<div class="contenedor">
    <mat-table [dataSource]="datoFilasTabla" [formGroup]="formGroup">
        <!-- Hora -->
        <ng-container matColumnDef="HORA">
          <mat-header-cell *matHeaderCellDef> HORA </mat-header-cell>
          <mat-cell *matCellDef="let fila"> {{fila.rangoHoras}} </mat-cell>
        </ng-container>
      
        <!-- Días -->
        <ng-container *ngFor="let dia of columnasTabla.slice(1, columnasTabla.length)"
          [matColumnDef]="dia"
        >
          <mat-header-cell *matHeaderCellDef>{{dia}}</mat-header-cell>
          <mat-cell *matCellDef="let fila">
            <!-- No hay hora que seleccionar -->
            <div *ngIf="fila[dia] == 'NO_DISPONIBLE'"></div>
            <!-- Almuerzo -->
            <div *ngIf="fila[dia] == 'ALMUERZO'">Almuerzo</div>
            <!-- Seleccionar hora -->
            <mat-checkbox *ngIf="fila[dia] == 'DISPONIBLE'"
              [formControlName]="obtenerNombreControl(dia, fila.hora)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="columnasTabla"></mat-header-row>
        <mat-row *matRowDef="let fila; columns: columnasTabla;"></mat-row>
    </mat-table>

    <div class="parteInferior">
        <!-- Botones -->
        <div>
          <!-- Desmarcar todas las opciones -->
          <button mat-raised-button color="warn" (click)="desmarcarTodo()">
            Desmarcar todo
          </button>
    
          <!-- Guardar cambios -->
          <button mat-raised-button color="primary">
            Guardar cambios
          </button>
        </div>
      </div>
  
</div>