@import '../../../themes/variables.scss';

.menuAcciones {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(251, 251, 251, 0.613);
}

#home {
    color: $text_on_primary;
    text-decoration: none;
}
#home:hover {
    color: $accent;
    text-decoration: underline;
}

mat-sidenav {
    width: 20vw;
}
  
.spacer {
    flex: 1 1 auto;
}

.iconoUsuario {
    font-size: 40px;
}

.correoUsuario {
    padding-right: 1vw;
}

.menuUsuario mat-icon {
    height: 20vh;
}

.active {
    background-color: $accent;
    color: $text_on_accent;
}

#cuentaIcono:hover {
    color: $accent;
}