.barraSuperior {
    width: 100vw;
    height: 10vh;
    //border: black solid 1px;
}

.menuUsuario {
    float: right;
}

.correoUsuario {
    float: right;
}

.menuUsuario mat-icon {
    height: 20vh;
}