<mat-toolbar color="primary">
    <button mat-icon-button (click)="toogleMenuAcciones()" aria-label="Menú de acciones">
        <mat-icon>menu</mat-icon>
    </button>
    <a id="home" [routerLink]="['/spa']">Sistema de Planificación Académica</a>
    <span class="spacer"></span>
    <!-- Usuario -->
    <span class="correoUsuario">{{usuario!.correo}}</span>
    <!-- Menú de usuario -->
    <button mat-icon-button class="iconoUsuario" [matMenuTriggerFor]="menuUsuario" aria-label="Usuario">
        <mat-icon id="cuentaIcono" [inline]="true">account_circle</mat-icon>
    </button>
    <mat-menu #menuUsuario="matMenu">
        <button mat-menu-item (click)="cerrarSesion()">
            <mat-icon>logout</mat-icon>
            <span>Cerrar sesión</span>
        </button>
    </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="menuAcciones">
    <!-- Acciones -->
    <mat-sidenav mode="side" [(opened)]="mostrarMenuAcciones">
        <mat-list>

            <!-- Subdecano -->
            <h3 matSubheader *ngIf="esSubdecano()">Subdecano</h3>
            <mat-nav-list *ngIf="esSubdecano()">
                <!-- Acción 1 -->
                <mat-list-item>
                    <a matLine [routerLink]="['/spa']">Acción 1</a>
                    <button mat-icon-button>
                       <mat-icon>create</mat-icon>
                    </button>
                 </mat-list-item>
                 <!-- Acción 2 -->
                 <mat-list-item>
                     <a matLine [routerLink]="['/spa']">Acción 2</a>
                     <button mat-icon-button>
                        <mat-icon>info</mat-icon>
                     </button>
                  </mat-list-item>
            </mat-nav-list>

            <mat-divider *ngIf="esSubdecano() && (esCoordinador() || esDocente() || esGestorEspaciosFisicos())"></mat-divider>

            <!-- Coordinador -->
            <h3 matSubheader *ngIf="esCoordinador()">Coordinador</h3>
            <mat-nav-list *ngIf="esCoordinador()">
                <!-- Acción 1 -->
                <mat-list-item>
                   <a matLine [routerLink]="['/spa/parametros-iniciales']">Parametros iniciales</a>
                   <button mat-icon-button>
                      <mat-icon>settings_applications</mat-icon>
                   </button>
                </mat-list-item>
            </mat-nav-list>

            <mat-divider *ngIf="esCoordinador() && esGestorEspaciosFisicos()"></mat-divider>

            <!-- Gestor de espacios físicos -->
            <h3 matSubheader *ngIf="esGestorEspaciosFisicos()">Gestor de espacios físicos</h3>
            <mat-nav-list *ngIf="esGestorEspaciosFisicos()">
                <!-- Gestionar aulas y laboratorios -->
                <mat-list-item [ngClass]="mostrarRutaActiva('/spa/espacios_fisicos')" [routerLink]="['/spa/espacios_fisicos']">
                   <a matLine>Aulas y laboratorios</a>
                   <button mat-icon-button>
                      <mat-icon>door_sliding</mat-icon>
                   </button>
                </mat-list-item>
            </mat-nav-list>

            <mat-divider *ngIf="esGestorEspaciosFisicos() && esDocente()"></mat-divider>

            <!-- Docente -->
            <h3 matSubheader *ngIf="esDocente()">Docente</h3>
            <mat-nav-list *ngIf="esDocente()">
                <!-- Acción 1 -->
                <mat-list-item>
                    <a matLine [routerLink]="['/spa']">Acción 1</a>
                    <button mat-icon-button>
                       <mat-icon>create</mat-icon>
                    </button>
                 </mat-list-item>
                 <!-- Acción 2 -->
                 <mat-list-item>
                     <a matLine [routerLink]="['/spa']">Acción 2</a>
                     <button mat-icon-button>
                        <mat-icon>info</mat-icon>
                     </button>
                  </mat-list-item>
            </mat-nav-list>

         </mat-list>
    </mat-sidenav>
    <!-- Contenido principal -->
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
