<div class="time-res" [formGroup]="formularioRestriccionesTiempo">
    <mat-card>
        <mat-card-title>
            Restricción de tiempo
        </mat-card-title>
        <br>
        <h3><strong>Actividad</strong></h3>
            <mat-form-field>
                <mat-label>Actividad 1</mat-label>
                <mat-select>
                    <mat-option value="one">Actividad 2</mat-option>
                </mat-select>
            </mat-form-field>
        <br>
        <h3><strong>Peso</strong></h3>
            <mat-form-field>
                <mat-label>100</mat-label>
                <input matInput>
            </mat-form-field>
        <mat-card>
        <h3><strong>Periodo</strong></h3>
            <br>
            <div class="periodo">
                <mat-form-field style="width: 50%; margin: auto;">
                    <h3><strong>Día</strong></h3>
                    <mat-label></mat-label>
                    <mat-select>
                        <mat-option value="one">Lunes</mat-option>
                        <mat-option value="one">Martes</mat-option>
                        <mat-option value="one">Miercoles</mat-option>
                        <mat-option value="one">Jueves</mat-option>
                        <mat-option value="one">Viernes</mat-option>
                        <mat-option value="one">Sabado</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field style="width: 50%; margin: auto;">
                    <h3><strong>Hora de inicio</strong></h3>
                    <mat-label></mat-label>
                    <mat-select>
                        <mat-option value="one">7:00</mat-option>
                        <mat-option value="one">8:00</mat-option>
                        <mat-option value="one">9:00</mat-option>
                        <mat-option value="one">10:00</mat-option>
                        <mat-option value="one">11:00</mat-option>
                        <mat-option value="one">12:00</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-card>
        <br>
        <button style="width: 100%; margin: auto;" mat-raised-button color="primary">
            Añadir restricción</button>
    </mat-card>
</div>


