<div class="container-restriccion">
    <!--DESCRIPCION DE LA ACTIVIDAD-->
    <div class="container-actividad">
        <div class="container-summary">
            <mat-card>
                <mat-card-title>
                    Descripción de la actividad
                </mat-card-title>
                <mat-card-content>
                    <mat-list role="list">
                        <mat-list-item class="list-container" role="listitem">
                            <div class="list-container-row-title">
                                <mat-icon>school</mat-icon>
                                <strong>Docente seleccionado:</strong>
                            </div>
                        </mat-list-item>
                        <mat-list-item role="listitem">{{this.actividad.docente!!.nombreCompleto}}</mat-list-item>

                        <mat-list-item class="list-container" role="listitem">
                            <div class="list-container-row-title">
                                <mat-icon>book</mat-icon>
                                <strong>Asignatura:</strong>
                            </div>
                        </mat-list-item>
                        <mat-list-item role="listitem">{{this.actividad.asignatura!!.nombre}}
                            {{this.actividad.asignatura!!.codigo}}</mat-list-item>
                        <mat-list-item class="list-container" role="listitem">
                            <div class="list-container-row-title">
                                <mat-icon>format_list_numbered</mat-icon>
                                <strong>Número de estudiantes de la asignatura:</strong>
                            </div>
                        </mat-list-item>
                        <mat-list-item role="listitem">{{this.actividad.numeroEstudiantes}}</mat-list-item>
                        <mat-list-item class="list-container" role="listitem">
                            <div class="list-container-row-title">
                                <mat-icon>person_pin</mat-icon>
                                <strong>Tipo de aula:</strong>
                            </div>
                        </mat-list-item>
                        <mat-list-item role="listitem"> {{this.actividad.tipoAula!!.tipo}}</mat-list-item>

                        <mat-list-item class="list-container" role="listitem">
                            <div class="list-container-row-title">
                                <mat-icon>person_pin</mat-icon>
                                <strong>Grupo:</strong>
                            </div>
                        </mat-list-item>
                        <mat-list-item role="listitem">
                            {{this.actividad.grupo!!.nombre}}</mat-list-item>

                        <mat-list-item class="list-container" role="listitem">
                            <div class="list-container-row-title">
                                <mat-icon>av_timer</mat-icon>
                                <strong>Duración (en horas):</strong>
                            </div>
                        </mat-list-item>
                        <mat-list-item role="listitem">
                            {{this.actividad.duracion}}</mat-list-item>

                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <!--FORMULARIO PARA RESTRICCIONES-->
    <form class="place-res" [formGroup]="formularioRestriccionesLugarTiempo" class="container-form">
        <mat-card>
            <mat-card-title>
                Agregar restricciones
            </mat-card-title>
            <br>
            <!--Campo de muestra de la actividad-->
            <br>
            <!--Campo de ingreso del Aula-->
            <h3><strong>Aula</strong></h3>

            <mat-form-field style="width: 100%; margin: auto;">
                <mat-label></mat-label>
                <mat-select formControlName="espacioFisico">
                    <mat-option *ngFor="let espacioFisico of espaciosFisicosDisponibles" [value]="espacioFisico">
                        {{espacioFisico.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>

            <h3><strong>Día</strong></h3>
            <mat-form-field appearance="fill" style="width: 100%; margin: auto;">
                <!--Campo de ingreso del Día-->
                <mat-label></mat-label>
                <mat-select formControlName="dia">
                    <mat-option *ngFor="let dia of diasLaborables" [value]="dia">
                        {{dia | titlecase}}
                    </mat-option>
                </mat-select>
            </mat-form-field>


            <h3><strong>Hora de inicio</strong></h3>
            <mat-form-field appearance="fill" style="width: 100%; margin: auto;">
                <!--Campo de ingreso de la Hora de Inicio-->

                <mat-label></mat-label>
                <mat-select formControlName="hora">
                    <mat-option *ngFor="let hora of horasDisponibles" [value]="hora">
                        {{hora}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!--BOTONES-->
            <div class="container-buttons">
                <button mat-raised-button color="primary" [routerLink]="['/spa/actividades']">
                    Regresar</button>

                <button *ngIf="restriccionesPorActividad.length === 0" (click)="crearRestriccion()" mat-raised-button color="primary">
                    Crear restricción</button>
            </div>
        </mat-card>
    </form>
</div>
<div class="container-restricciones-actuales">
    <mat-card>
        <mat-card-title>
            Restricciones actuales
        </mat-card-title>
        <mat-table [dataSource]="datosRestriccionesTable" matSort #tablaSort="matSort" matSortActive="nombreCompleto"
            matSortDirection="asc">

            <!--AULA DE LA ACTIVIDAD-->
            <ng-container matColumnDef="aulaActividad">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Aula </mat-header-cell>
                <mat-cell *matCellDef="let fila"> {{fila.espacioFisico}}</mat-cell>
            </ng-container>

            <!-- DIA DE LA ACTIVIDAD -->
            <ng-container matColumnDef="diaActividad">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Día </mat-header-cell>
                <mat-cell *matCellDef="let fila"> {{fila.dia}}</mat-cell>
            </ng-container>


            <!-- HORARIO DE LA ACTIVIDAD -->
            <ng-container matColumnDef="horaActividad">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Hora </mat-header-cell>
                <mat-cell *matCellDef="let fila"> {{fila.hora}}</mat-cell>
            </ng-container>

            <!-- BOTONES DE ELIMINAR ACTIVIDAD -->
            <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef>Acciones </mat-header-cell>
                <mat-cell *matCellDef="let fila">
                    <!-- ELIMINAR RESTRICCION-->
                    <button mat-icon-button (click)="eliminarRestriccion(fila.idRestriccion)" matTooltip="Eliminar">
                        <mat-icon color="warn">delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </mat-card>
</div>