<div class="parametros-iniciales-page">

    <!-- Selección de semestre -->
    <div *ngIf="semestres.length >= 1; else noSemestres">
        <mat-form-field appearance="fill" class="select-semestre">
            <mat-label>Selecciona el semestre en curso</mat-label>
            <mat-select [(value)]="semestreSeleccionado">
                <mat-option *ngFor="let semestre of semestres" [value]="semestre">
                    {{semestre.abreviatura}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <mat-tab-group *ngIf="semestreSeleccionado" mat-align-tabs="start" class="tabs">
        <!-- Tab jornada laboral -->
        <mat-tab label="Jornada Laboral">
            <app-jornada-laboral [semestre]="semestreSeleccionado"></app-jornada-laboral>
        </mat-tab>

        <!-- Tab tipos de aula -->
        <mat-tab label="Tipos de aula">
            <app-tipo-aulas [semestre]="semestreSeleccionado"></app-tipo-aulas>
        </mat-tab>
    </mat-tab-group>

    <!-- En caso de que no se hayan registrados semestres-->
    <ng-template #noSemestres>
        <mat-card>
            <mat-card-header>
                <mat-card-title>No existen semestres registrados</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Solicite al administrador del sistema la creación de un nuevo semestre para la planificación académica.
            </mat-card-content>
        </mat-card>
    </ng-template>
</div>