<div class="place-res" [formGroup]="formularioRestriccionesLugar">
    <mat-card>
        <mat-card-title>
            Restricción de lugar
        </mat-card-title>
        <br>
        <h3><strong>Actividad</strong></h3>
            <mat-form-field>
                <mat-label>Actividad 1</mat-label>
                <mat-select>
                    <mat-option value="one">Actividad 2</mat-option>
                </mat-select>
            </mat-form-field>
        <br>
        <h3><strong>Aula</strong></h3>
            <mat-form-field>
                <mat-label></mat-label>
                <mat-select>
                    <mat-option value="one">----SOFTWARE-----</mat-option>
                    <mat-option value="one">----COMPUTACIÓN----</mat-option>
                </mat-select>
            </mat-form-field>
        <h3><strong>Peso</strong></h3>
            <mat-form-field>
                <mat-label>100</mat-label>
                <input matInput>
            </mat-form-field>
    
        
        <br>
        <button style="width: 100%; margin: auto;" mat-raised-button color="primary">
            Añadir restricción</button>
    </mat-card>
</div>


