<mat-card class="dialog">
    <mat-card-title class="dialog-title">Crear un tipo de aula</mat-card-title>
    <mat-card-subtitle class="dialog-subtitle">Ingrese la información necesaria para crear un tipo de aula.
    </mat-card-subtitle>
    <mat-card-content>
        <form [formGroup]="formularioTiposAulas" class="dialog-field">
            <!-- Selección de facultad -->
            <div class="dialog-field1" *ngIf="facultades.length >= 1; else noFacultades">
                <mat-form-field *ngIf="this.facultades.length !== 0" style="width: 100%" class="dialog-field"
                    appearance="fill" class="select-semestre">
                    <mat-label>Selecciona el nombre de la facultad</mat-label>
                    <mat-select formControlName="facultad" [(value)]="facultadSeleccionada">
                        <mat-option *ngFor="let facultad of facultades" [value]="facultad">
                            {{facultad.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- Tipo de aula -->
            <div>
                <mat-form-field *ngIf="this.facultades.length !== 0" class="dialog-field " appearance="fill">
                    <mat-label>Ingrese el tipo de aula</mat-label>
                    <input formControlName="tipoAula" type="text" matInput>
                    <mat-error *ngIf="this.formularioTiposAulas.get('tipoAula')?.invalid">
                        El tipo de aula es requerida.
                    </mat-error>
                </mat-form-field>
            </div>
            <button class="dialog__boton" *ngIf="this.facultades.length !== 0" mat-raised-button color="primary"
                (click)="crearTipoAula()">Añadir</button>
        </form>
    </mat-card-content>

    <!-- En caso de que no se hayan registrados facultades -->
    <ng-template #noFacultades>
        <mat-label>
            No existen facultades registradas.
        </mat-label>
    </ng-template>
</mat-card>