.tab-jornada {

    &-semestres {
        .mat-form-field {
            width: 100%;
        }
    }

    &-secciones {

        &-horas {
            // sección horas
            flex: 1;
            margin-right: 1rem;
            padding: 1rem;

            &-inputs {
                margin: 0.3rem 0.0rem 0.5rem 0.0rem;
            }
        }

        &-dias {
            // sección días
            flex: 1;
            min-width: 175px;
            padding: 1rem;
            width: 20%;
        }
    }
}

.spinner {
    display: flex;
    justify-content: center;
    padding-top: 10%;
}