@import '../../../../../themes/variables.scss';

.contenedor {
    margin: 2vh 2vw;
}

mat-card, .buttonStyleCancel {
    margin: 1vh 0;
}

.tarjetas {
    display: flex;
    justify-content: space-between;
}

#advertencia {
    background-color: $warn;
    color: $text_on_warn;
    width: 54%;
}

#info {
    background-color: $accent;
    color: $text_on_accent;
    margin-left: 2%;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.parteInferior {
    margin-top: 2vh;
    text-align: center;
}

.parteInferior button {
    margin: 0 2vw;
}

// Filas
.mat-row, .mat-header-row {
    min-height: 30px;
}

// Columnas
.mat-column-HORA {
    flex: 0 0 10%;
}

mat-cell {
    text-align: center;
}

mat-header-cell, mat-cell {
    justify-content: center;
}

.horaNoDisponible {
    width: 100%;
    background-color: $warn;
    color: $text_on_warn;
}