<h1>HOla {{nombre}}</h1>
<p>{{universidad}}</p>
<mat-table [dataSource]="datosEstudiantesTabla">
    <!--Nombre-->
    <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef>
            Nombre del Estudiante
        </mat-header-cell>
        <mat-cell *matCellDef="let fila">{{fila.name}}</mat-cell>
    </ng-container>

    <!--Clificacion-->
    <ng-container matColumnDef="calificacion">
        <mat-header-cell *matHeaderCellDef>
            Calificacion del Estudiante
        </mat-header-cell>
        <mat-cell *matCellDef="let fila">{{fila.grade}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnasTabla"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnasTabla;"> </mat-row>
</mat-table>
