<mat-card class="dialog">
    <mat-card-title class="dialog-title">Crear un tipo de aula</mat-card-title>
    <mat-card-subtitle class="dialog-subtitle">Ingrese la información necesaria para crear un tipo de aula.</mat-card-subtitle>
    <mat-card-content>
        <form class="dialog-field">
            <!-- Selección de facultad -->
            <div class="dialog-field1" *ngIf="facultades.length >= 1; else noFacultades">
                <mat-form-field style="width: 100%" class="dialog-field" appearance="fill" class="select-semestre">
                    <mat-label>Selecciona el nombre de la facultad</mat-label>
                    <mat-select [(value)]="facultadSeleccionada">
                        <mat-option *ngFor="let facultad of facultades" [value]="facultad">
                            {{facultad.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
            <mat-form-field class="dialog-field "  appearance="fill">
                <mat-label>Ingrese el tipo de aula</mat-label>
                <input type="text" matInput>
                <mat-error *ngIf="">
                    Email is d <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>

                <button mat-raised-button color="primary">Añadir</button>
        </form>
    </mat-card-content>

    <!-- En caso de que no se hayan registrados semestres-->
    <ng-template #noFacultades>
        <mat-label>
            No existen facultades registradas.
        </mat-label>
    </ng-template>
</mat-card>