$primary: #3F51B5;
$text_on_primary: white;

$indigo_700: #303F9F;
$indigo_800: #283593;

$accent: #69F0AE;
$text_on_accent: black;

$warn: #FF5252;
$text_on_warn: white;

$gray: #cfcfcf;
$row_hover: #f0f0f0;