.contenedor {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parteSuperior {
    display: flex;
    justify-content: flex-end;
}

.seccion-agregar-nivel-boton{
    margin: 0px 0.6rem;
}

.btnSuperior {
    margin: 2vh;
}

.nombreArchivo {
    margin-left: 1rem;
}

.filtroPlaceholder {
    margin-right: 1vw;
}

#filtroField {
    width: 20vw;
}

.mat-column-fechaCreacion {
    flex: 0 0 30%;
}

.mat-column-correoUsuario {
    flex: 0 0 25%;
}

.mat-column-descripcion {
    flex: 0 0 35%;
}

.mat-column-acciones {
    flex: 0 0 15%;
}

.header-title {
    flex: 0 0 50%;
}

mat-form-field {
    flex: 0 0 30%;
}