<div class="contenedor">

    <section class="header">
        <div class="header-title">
            <h1>Horarios</h1>
            <p>Registros de los horarios generados con las actividades previamente ingresadas.
            </p>
        </div>
        <div class="header-operations">
            <button class="seccion-agregar-nivel-boton" *ngIf="esCoordinador()" mat-raised-button color="primary" (click)="fileInput.click()">
                Cargar planificación (.fet)
            </button>
            <input hidden (change)="seleccionarArchivo($event)" onclick="this.value=null;" #fileInput type="file">

            <button class="seccion-agregar-nivel-boton" *ngIf="esCoordinador()" mat-raised-button color="primary" (click)="test()">
                Generar horario
            </button>
        </div>
    </section>

    <div class="parteSuperior">
        <mat-form-field appearance="fill">
            <mat-label>Filtro: </mat-label>
            <input matInput (keyup)="filtrarTabla($event)" placeholder="Ingrese el texto a buscar" #input>
        </mat-form-field>
    </div>

    <mat-table [dataSource]="datoFilaHorario" matSort #tablaSort="matSort" matSortActive="fechaCreacion"
        matSortDirection="desc">

        <!-- FECHA DE CREACION DE HORARIO -->
        <ng-container matColumnDef="fechaCreacion">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de creación</mat-header-cell>
            <mat-cell *matCellDef="let fila">{{fila.fechaCreacion | date:'medium'}}</mat-cell>
        </ng-container>

        <!-- NOMBRE DE USUARIO CREADOR DEL HORARIO -->
        <ng-container matColumnDef="correoUsuario">
            <mat-header-cell *matHeaderCellDef>Correo usuario creador</mat-header-cell>
            <mat-cell *matCellDef="let fila">{{fila.usuario.correo}}</mat-cell>
        </ng-container>

        <!-- DESCRIPCIÓN DEL HORARIO -->
        <ng-container matColumnDef="descripcion">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</mat-header-cell>
            <mat-cell *matCellDef="let fila">{{fila.descripcion}}</mat-cell>
        </ng-container>


        <!-- BOTÓN DE VISUALIZACIÓN -->
        <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef>Acciones </mat-header-cell>
            <mat-cell *matCellDef="let fila">
                <!-- VISUALIZACIÓN INDIVIDUAL -->
                <button mat-icon-button [routerLink]="['visualizarHorario',fila.id]" matTooltip="Visualizar"
                    matTooltipPosition="right">
                    <mat-icon color="primary">visibility</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

    <mat-paginator [pageSize]="10" showFirstLastButtons></mat-paginator>

</div>