<div class="contenedor">
    <div class="filtros">
        <div class="columna">
            <mat-form-field appearance="fill" class="filtroDocente">
                <mat-label>Filtrar el horario por docente:</mat-label>
                <mat-select name="arregloDocentes">
                    <mat-option *ngFor="let docente of arregloDocentes" [value]="docente.nombreCompleto">
                        {{docente.nombreCompleto}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="columna">
            <mat-form-field appearance="fill" class="filtroGrupo">
                <mat-label>Filtrar por grupo:</mat-label>
                <mat-select name="arregloGrupos">
                    <mat-option *ngFor="let grupo of arregloGrupos" [value]="grupo.nombre">
                        {{grupo.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <!-- Matriz con días de la semana -->
    <mat-table [dataSource]="datoFilasTabla">
        <!-- Hora -->
        <ng-container matColumnDef="HORA">
            <mat-header-cell *matHeaderCellDef> HORA </mat-header-cell>
            <mat-cell *matCellDef="let fila"> {{fila.rangoHoras}} </mat-cell>
        </ng-container>

        <!-- Días -->
        <ng-container *ngFor="let dia of columnasTabla.slice(1, columnasTabla.length)" [matColumnDef]="dia">
            <mat-header-cell *matHeaderCellDef>{{dia}}</mat-header-cell>
            <mat-cell *matCellDef="let fila">
                <div></div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnasTabla"></mat-header-row>
        <mat-row *matRowDef="let fila; columns: columnasTabla;"></mat-row>
    </mat-table>

    <!-- Botones -->
    <div class="parteInferior">
        <button mat-button mat-raised-button color="warn" class="buttonStyleCancel">Regresar</button>
    </div>
</div>