.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginFormat {
    width: 35vw;
}

mat-form-field {
    width: 35vw;
    padding-bottom: 5vh;
}

mat-form-field.mat-form-field {
    font-size: 20px;
}

h3 {
    font-size: small;
    font-weight: 400;
}

h1 {
    font-size: x-large;
    font-weight: 500;
}

.buttonStyle {
    height: 7vh;
    width: 30vw;
    font-size: small;
    font-weight: 500;
}

.forgotPassword {
    margin-top: 5vh;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.linkStyle {
    color: #3D52B1;
}

#errorSesion {
    padding-top: 2vh;
}