<div class="contenedor">
    <h1>Cargando...</h1>
    <section class="header">
        <div class="header-title">
            <h1>Actividades</h1>
            <p>Para los niveles de cada carrera puede crear diferentes grupos para organizar la cantidad de estudiantes.
            </p>
        </div>
        <div class="header-operations">
            <button class="seccion-agregar-nivel-boton" mat-raised-button color="primary"
                (click)="abrirCrearActividadDialog()">
                Crear uno o más grupos
            </button>
        </div>
    </section>


</div>