<div class="contenedor">
    <section class="header">
        <div class="header-title">
            <h1>Actividades</h1>
            <p>Para los niveles de cada carrera puede crear diferentes grupos para organizar la cantidad de estudiantes.
            </p>
        </div>
        <div class="header-operations">
            <button class="seccion-agregar-nivel-boton" mat-raised-button color="primary"
                (click)="abrirCrearActividadDialog()">
                Crear una actividad
            </button>
        </div>
    </section>
    <section *ngIf="actividades.length">
        <mat-table [dataSource]="datoFilas" matSortDirection="asc">
            <!-- Docente -->
            <ng-container matColumnDef="docente" matSort>
                <mat-header-cell *matHeaderCellDef mat-sort-header>Docente</mat-header-cell>
                <mat-cell *matCellDef="let fila"> {{fila.docente.nombreCompleto}}</mat-cell>
            </ng-container>

            <!-- Asignatura -->
            <ng-container matColumnDef="asignatura" matSort>
                <mat-header-cell *matHeaderCellDef mat-sort-header>Asignatura</mat-header-cell>
                <mat-cell *matCellDef="let fila"> {{fila.asignatura.nombre}}
                    ({{fila.asignatura.codigo}})</mat-cell>
            </ng-container>

            <!-- Número de estudiantes -->
            <ng-container matColumnDef="numeroEstudiantes" matSort>
                <mat-header-cell *matHeaderCellDef mat-sort-header>Número de estudiantes</mat-header-cell>
                <mat-cell *matCellDef="let fila"> {{fila.numeroEstudiantes}}
                </mat-cell>
            </ng-container>

            <!-- Tipo de aula -->
            <ng-container matColumnDef="tipoAula" matSort>
                <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Aula</mat-header-cell>
                <mat-cell *matCellDef="let fila"> {{fila.tipoAula.tipo}}
                </mat-cell>
            </ng-container>

            <!-- Grupo -->
            <ng-container matColumnDef="grupo" matSort>
                <mat-header-cell *matHeaderCellDef mat-sort-header>Grupo</mat-header-cell>
                <mat-cell *matCellDef="let fila"> {{fila.grupo.nombre}}
                </mat-cell>
            </ng-container>

            <!-- Duración (horas) -->
            <ng-container matColumnDef="duracion" matSort>
                <mat-header-cell *matHeaderCellDef mat-sort-header>Duración (horas)</mat-header-cell>
                <mat-cell *matCellDef="let fila"> {{fila.duracion}}
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
        </mat-table>
    </section>
</div>