<mat-card>
    <mat-card-title>Tipos de aulas</mat-card-title>
    <mat-card-subtitle>Ingresa los días y horas laborables para la planificación académica.</mat-card-subtitle>
    <mat-card-content>
        <form>
            <mat-card>
                <mat-card-content>
        
                      
                      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                        <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->
                      
                        <!-- Position Column -->
                        <ng-container matColumnDef="Tipo de aula">
                          <th mat-header-cell *matHeaderCellDef> Tipo de aula </th>
                          <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                </mat-card-content>
            </mat-card>
        </form>
    </mat-card-content>
</mat-card>