table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.container-table {
    display: flex;
    flex-wrap: wrap;
    flex:1;
    height: 14rem;
    max-width: 50%;
    overflow: auto;
}

mat-table {
    max-width: 100%;
    overflow: auto;
}

.demo-table {
    width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

tr {
    cursor: pointer;

}

.activities {
    display: flex;
    justify-content: center;
    height: 100% ;
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

.container-summary {
    flex:2;
    width: 50%;
    margin-right: 1.5rem;
    margin-top: 1rem;
}

.docente-seleccionado {
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;

    &-table-selection {
        width: 60rem;
        margin: 1rem;
    }
}

tr:hover {
    background-color: rgb(254, 255, 221);
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}

.dialog-input-filter {
    width: 100%;
}

.demo-row-is-clicked {
    background-color: rgb(254, 255, 221);
    color: white;
}

.list-container {
    div {
        width: 100%;
    }
}

.list-container-row-title {
    color: rgb(62, 70, 101);
    display: flex;
    align-items: center;

    mat-icon {
        margin: 0px 10px 0px 0px;
    }
}

.header {
    margin-left: 1.7rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}